<mat-toolbar color="primary">
  <mat-toolbar-row>
    <app-search (filtersChanged)="onFiltersChanged(filterType.Query, $event)"></app-search>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<app-filter [type]="filterType.Type" (filtersChanged)="onFiltersChanged(filterType.Type, $event)"></app-filter>
<app-filter [type]="filterType.Sort" (filtersChanged)="onFiltersChanged(filterType.Sort, $event)"></app-filter>

<button mat-button (click)="clearFilters()"><mat-icon>clear</mat-icon>Clear</button>
<button mat-button (click)="changeOrder()"><mat-icon>{{ascending ? DIRECTION_ICON.ASCENDING : DIRECTION_ICON.DESCENDING}}</mat-icon></button>

<mat-list>
  <mat-list-item *ngFor="let mediaItem of mediaItems">
    {{mediaItem.title}}
  </mat-list-item>
</mat-list>
